<div class="industry-landing-main">
{% section 'railway_first_module' %}
  {% section 'railway_second_module' %}
  {% section 'railway_third_module' %}
   {% section 'railway_fourth_module' %}
   {% section 'railway_five_module' %}
  {% section 'railway_six_module' %}
  
 
</div>
