<div class="industry-landing-main">
{% section 'municipalities_first_module' %}
  {% section 'municipalities_Second_module' %}
  {% section 'municipalities_three_module' %}
   {% section 'municipalities_fourth_module' %}
   {% section 'municipalities_fifth_module' %}
  {% section 'municipalities_sixth_module' %}
  
 
</div>