{% section 'jotform-banner' %}
{% section 'common-blogs' %}
{% comment %}
<div class="jas-row jas-page" syle="display:none;">
  <div class="jas-col-md-12 jas-col-xs-12 mt__60 mb__60" role="main" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
       <div class="jas-container">
         {% include 'shortcode' load: page.content %}
       </div>
  </div>
</div>
{% endcomment %}
