<div class="industry-landing-main">
{% section 'military_first_module' %}
  {% section 'military_Second_module' %}
  {% section 'miltary_three_module' %}
   {% section 'military_fourth_module' %}
   {% section 'military_fifth_module' %}
  {% section 'military_sixth_module' %}
  
 
</div>