<div class="industry-landing-main">
{% section 'off_grid_first_module' %}
  {% section 'off_grid_Second_module' %}
  {% section 'off_grid_three_module' %}
   {% section 'off_grid_fourth_module' %}
   {% section 'off_grid_fifth_module' %}
  {% section 'off_grid_sixth_module' %}
  
 
</div>