<div class="industry-landing-main">
{% section 'public_transit_first_module' %}
  {% section 'public_transit_Second_module' %}
  {% section 'public_transit_three_module' %}
   {% section 'public_transit_fourth_module' %}
   {% section 'public_transit_fifth_module' %}
  {% section 'public_transit_sixth_module' %}
  
 
</div>