<div class="industry-landing-main">
{% section 'construction_first_module' %}
  {% section 'construction_second_module' %}
  {% section 'construction_third_module' %}
   {% section 'construction_fourth_module' %}
   {% section 'Construction_five_module' %}
  {% section 'construction_six_module' %}
  
 
</div>