<div class="industry-landing-main">
{% section 'marine_first_module' %}
  {% section 'marine_Second_module' %}
  {% section 'marine_three_module' %}
   {% section 'marine_fourth_module' %}
  {%section 'marine_promotion_module' %}
   {% section 'marine_fifth_module' %}
  {% section 'marine_sixth_module' %}
  
 
</div>