<div class="industry-landing-main">
{% section 'rv_first_module' %}
  {% section 'rv_Second_module' %}
  {% section 'rv_three_module' %}
   {% section 'rv_fourth_module' %}
  {%section 'rv_promotion_module' %}
   {% section 'rv_fifth_module' %}
  {% section 'rv_sixth_module' %}
  
 
</div>