<div class="industry-landing-main">
{% section 'Emergency_disaster_first_module' %}
  {% section 'Emergency_disaster_second_module' %}
  {% section 'Emergency_disaster_third_module' %}
   {% section 'Emergency_disaster_forth_module' %}
   {% section 'Emergency_disaster_fifth_module' %}
  {% section 'Emergency_disaster_sixth_module' %}
  
 
</div>