<div class="industry-landing-main">
{% section 'mining_first_module' %}
  {% section 'mining_second_module' %}
  {% section 'mining_third_module' %}
   {% section 'mining_fourth_module' %}
   {% section 'mining_five_module' %}
  {% section 'mining_six_module' %}
  
 
</div>