<div class="industry-landing-main">
{% section 'films_event_first_module' %}
  {% section 'films_event_second_module' %}
  {% section 'films_event_third_module' %}
   {% section 'films_event_fourth_module' %}
   {% section 'films_event_five_module' %}
  {% section 'films_event_six_module' %}
  
 
</div>