<div class="industry-landing-main">
{% section 'backup_power_first_module' %}
  {% section 'backup_power_Second_module' %}
  {% section 'backup_power_three_module' %}
   {% section 'backup_power_fourth_module' %}
   {% section 'backup_power_fifth_module' %}
  {% section 'backup_power_sixth_module' %}
  
 
</div>